@charset "utf-8";

body{
  color: #333;
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
  
}

.pc-only{
  display: block;
}
.sp-only{
  display: none;
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
}

/*
header
*/
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.header-logo{
  margin-left: 100px;
}

@media screen and (max-width:769px) {
  .header-logo{
    margin: 0;
  }

}

/*
nav
*/

nav {
  display: flex;
  margin-right: 100px;
}
.nav-list  {
  display: flex;
}

.nav-list  li {
  margin-left: 40px;
 }

 .nav-list a {
  color:#333;
  font-weight: bold;
 }

 .nav-button{
  margin-top: 15px;
 }

.nav-button a {
  background-color: #1E549F;
  width: 180px;
  height: 44px;
  border-radius: 50px;
  margin: 0 0 0 40px;
  padding: 10px 25px;
  color: #fff;
}

@media screen and (max-width:769px)  {
  nav {
   display: block;
   margin: 0;
   }

   .nav{
    background-color: #fff;
    width: 270px;
    height: 530px;
    position: fixed;
    top: 12%;
    right: 0;
    z-index: 2;
    transform: translateX(270px);
    transition: .5s;
   }
   
   .nav.active{
    transform: none;
   }
   .nav-list {
    margin: 0;
    margin: 50px 0 0 0;
    padding-right: 45px;
    display: block;
    text-align: right;
   }
  
  .nav-list li{
    margin: 0;
  }

  .nav-list li{
    margin: 0;
  }
  
  .nav-list li:not(:first-of-type){
    margin-top: 30px;
  }

  .nav-button{
    margin: 0;
    margin: 40px 0 0 72px;
  }
  .nav-button a {
    margin: 0;
    transition: .3s;
  }

  .nav-button a:hover{
    background-color: #fff;
    color: #1E549F;
    border: 1px solid #1E549F;
  }
 
  
 }
 

/*写真*/
.main-image img{
  width: 100%;
  margin-top: 20px;
} 

@media screen and (max-width:769px)  {
  .pc-only{
    display: none;
  }
  .sp-only{
    display: block;
    margin: 0;
  }

  .sp-image{
    width: auto;
  }
}



/* section */
.section-headline{
  margin: 0;
  margin-top: 127px;
  text-align: center;
  font-family: 'Capriola',sans-serif;
  font-size: 36px;
 
  }
.section-underline{
  width: 150px;
  height: 5px;
  background-color: #1E549F;
}

/* 
concept
 */

 .concept{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
 }

 .concept > img {
  margin:60px 0 0 70px;
 }

 .concept-explanation{
  margin-top: 70px;
 }

 .explanation-title{
  
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  }
 .explanation-text{
 margin: 0;
 }

 @media screen and (max-width:769px) {
  .concept{
    margin: 0;
    flex-direction: column;
    flex-direction: column-reverse;
    
  }

  .concept > img {
    margin:0;
    margin-top: 50px;
    width: auto;
   }
  
   .concept-explanation{
    margin:0;
    margin-top: 50px;
   }

   .explanation-title{
    font-size: 20px;
    margin: 0;
    display: block;
    text-align: center;
   }
   .sp-text {
    display: block;
    text-align: center;
   }
   .sp-text p{
    margin: 0;
    padding: 0;
   }
 }
 
 
 /* 
 news
 */
 
 .news{
  display: flex;
  justify-content:center;
 }
 .news-card{
  margin:60px 0 0 48px;
  position: relative;
  background-color: #fff;
  width: 300px;
  height: 290px;
  box-shadow: 0 2px 11px 0;
 }
 .card-title{
 margin: 0;
 margin-left: 8px;
 margin-bottom: 10px;
 font-weight: bold;
 }
 .card-text{
  margin: 0;
  margin-left: 8px;
  font-size: 14px;
 }

.card-tag{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  background-color: #1E549F;
  width: 70px;
  height: 27px;
  color: #fff;
  padding: 0 0 0 5px;
}

@media screen and (max-width:769px) {
  .news{
    display: block;
  }

  .news-card {
    margin: 0;
    margin: 0 auto;
    margin-top: 50px;
  }
 
}

/* 
footer
*/

.footer{
  margin-top: 100px;
  background-color: #1E549F;
  width: 100%;
  height: 40px;
}

.footer-copy{
  padding-top: 11px;
  color: #fff;
  display: block;
  text-align: center;
}

/*meneButton*/
@media  screen and (max-width: 769px) {
  .menuButton{
    display: block;
    width: 80px;
    height: 80px;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .menuButton > span{
    height: 2px;
    width: 60%;
    background-color: #1E549F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menuButton > span:nth-of-type(1){
    transform: translate(-50%, -15px);
    transition: .3s;
  }
  .menuButton > span:nth-of-type(3){
    transform: translate(-50%, 15px);
    transition: .3s;
  }

  
}

